@media (max-width: 1000px){
    .b-scroll-1 video{
        height: 100%;
        top: 0;

    }
    .b-header-nav__tel{
        width: 30%;
    }
    .b-header-nav__link{
        width: 25%;
    }
    .b-header-nav__logo{
        width: 25%;
    }
    .b-scroll-2-big-img{
        display: none;

    }
    .b-scroll-2__col{
        width: 100%;
    }
    .b-scroll-6{
        overflow: hidden;
    }
    .b-scroll-6__col{
        width: 100%;
        display: block;
    }
    .b-scroll-6__slide-item{
        display: none !important;
    }
    .b-scroll-6-col--left{
        max-width: 100%;
    }
    .b-scroll-6__li--check span{
        color: #000;
    }
    .b-scroll-6__li--check:before{
        color: #fff;
    }
    .b-scroll-6__li{
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    .b-scroll-9-col{
        width: 100%;

    }
    .b-scroll-9-col--bg{
        display: none;
    }
    .b-scroll-9-width{
        margin: 0 auto;
    }
    .b-footer__logo{
        display: block;
    }
    .b-footer-text{
        display: none;
    }
    .b-footer-contact{
        width: 49%;
        padding-top: 10px;
    }
}

@media (max-width: 690px){
    .b-header-nav-tel__img{
        display: none;
    }

    .b-scroll-1 video{
        height: 100%;
        top: 0;

    }
    .b-scroll-1{
        overflow: hidden;
    }
    .b-scroll-1__h1{
        padding: 20% 0 20%;
    }
    .b-scroll-1__h2{
        padding: 10% 0;
    }
    .b-header-nav__link{
        display: none;
    }
    .b-header-nav__logo{
        width: 35%;
        vertical-align: middle;
    }
    .b-header-right{
        display: inline-block;
        width: 63%;
        vertical-align: middle;
    }
    .b-header-nav__tel{
        width: 100%;
        display: block;
    }
    .b-header-nav__town{
        width: 100%;
        text-align: right;
    }
    .b-header-nav-p{
        font-size: .9em;
    }
    .b-scroll-1__h1{
        font-size: 2.1em;
    }
    .b-scroll-1__separate{
        width: 20%;
    }
    .b-scroll-1__h2{
        font-size: .8em;
    }
    .b-scroll-1__after{
        width: 90%;
    }
    .b-scroll-1-after__p{
        font-size: 0.9em;
        width: 72%;
    }
    .b-scroll-1__after{
        margin: 10% auto 0;
    }
    .b-scroll-3-box__item{
        width: 95%;
        margin: 0 auto;
    }
    .b-scroll-4__big-col{
        width: 100%;
    }
    .b-scroll-4__small-col{
        width: 100%;
    }
    .b-scroll-4-h2{
        font-size: 2em;
    }
    .b-scroll-4-after{
        font-size: .9em;
        margin-bottom: 20px;
    }
    .b-scroll-4-send{

    }
    .b-scroll-5__item{
        width: 100%;
        padding: 20px 0;
    }
    .b-scroll-6-h2{
        text-align: center;
    }
    .b-scroll-6__li span{
        width: 80%;
    }
    .b-scroll-7__item{
        width: 90%;
        display: block;
        margin: 0 auto;
    }
    .b-scroll-8__h2{
        font-size: 1.5em;
    }
    .b-scroll-8__h2 span{
        padding-top: 20px;
    }
    .b-scroll-8-item{
        width: 90%;
        margin: 0 auto;
        display: block;
    }
    .b-footer__logo{
        width: 100%;
    }

}