@font-face {
    font-family:'FontAwesome-Regular';
    src: url('../fonts/FontAwesome_gdi.eot');
    src: url('../fonts/FontAwesome_gdi.eot?#iefix') format('embedded-opentype'),
    url('../fonts/FontAwesome_gdi.woff') format('woff'),
    url('../fonts/FontAwesome_gdi.ttf') format('truetype'),
    url('../fonts/FontAwesome_gdi.svg#FontAwesome-Regular') format('svg');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-F500;
}
@font-face {
    font-family:'MuseoSansCyrl-100';
    src: url('../fonts/MuseoSansCyrl-100_gdi.eot');
    src: url('../fonts/MuseoSansCyrl-100_gdi.eot?#iefix') format('embedded-opentype'),
    url('../fonts/MuseoSansCyrl-100_gdi.woff') format('woff'),
    url('../fonts/MuseoSansCyrl-100_gdi.ttf') format('truetype'),
    url('../fonts/MuseoSansCyrl-100_gdi.svg#MuseoSansCyrl-100') format('svg');
    font-weight: 100;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-FB04;
}

@font-face {
    font-family:'MuseoSansCyrl-300';
    src: url('../fonts/MuseoSansCyrl-300_gdi.eot');
    src: url('../fonts/MuseoSansCyrl-300_gdi.eot?#iefix') format('embedded-opentype'),
    url('../fonts/MuseoSansCyrl-300_gdi.woff') format('woff'),
    url('../fonts/MuseoSansCyrl-300_gdi.ttf') format('truetype'),
    url('../fonts/MuseoSansCyrl-300_gdi.svg#MuseoSansCyrl-300') format('svg');
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-FB04;
}
@font-face {
    font-family:'MuseoSansCyrl-500';
    src: url('../fonts/MuseoSansCyrl-500_gdi.eot');
    src: url('../fonts/MuseoSansCyrl-500_gdi.eot?#iefix') format('embedded-opentype'),
    url('../fonts/MuseoSansCyrl-500_gdi.woff') format('woff'),
    url('../fonts/MuseoSansCyrl-500_gdi.ttf') format('truetype'),
    url('../fonts/MuseoSansCyrl-500_gdi.svg#MuseoSansCyrl-500') format('svg');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-FB04;
}
@font-face {
    font-family:'MuseoSansCyrl-700';
    src: url('../fonts/MuseoSansCyrl-700_gdi.eot');
    src: url('../fonts/MuseoSansCyrl-700_gdi.eot?#iefix') format('embedded-opentype'),
    url('../fonts/MuseoSansCyrl-700_gdi.woff') format('woff'),
    url('../fonts/MuseoSansCyrl-700_gdi.ttf') format('truetype'),
    url('../fonts/MuseoSansCyrl-700_gdi.svg#MuseoSansCyrl-700') format('svg');
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-FB04;
}
@font-face {
    font-family:'MuseoSansCyrl-900';
    src: url('../fonts/MuseoSansCyrl-900_gdi.eot');
    src: url('../fonts/MuseoSansCyrl-900_gdi.eot?#iefix') format('embedded-opentype'),
    url('../fonts/MuseoSansCyrl-900_gdi.woff') format('woff'),
    url('../fonts/MuseoSansCyrl-900_gdi.ttf') format('truetype'),
    url('../fonts/MuseoSansCyrl-900_gdi.svg#MuseoSansCyrl-900') format('svg');
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-FB04;
}
body{
    font-family:'MuseoSansCyrl-500';
}
.width{
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 1.9%;
    min-width: 300px;
}
.btn{
    cursor: pointer;
}
.btn:hover{
    opacity: .7;
    transition-duration: .3s;
}
.b-header-nav{
    width: 100%;
    background: #000;
    padding: 15px 0;
    position: relative;
    z-index: 10;
}
.b-header-nav__logo{
    display: inline-block;
    width: 20%;
}
.b-header-nav-logo{
    color: #ffffff;
}

.b-header-nav-logo__img{
    display: inline-block;
    vertical-align: middle;
    margin-right: 2%;

}
.b-header-nav-p{
    display: inline-block;
    vertical-align: middle;
    text-transform: uppercase;
    font-family:'MuseoSansCyrl-900';
    font-size: 1.17em;
}
.b-header-nav-p span{
    font-family:'MuseoSansCyrl-500';
}
.b-header-nav__tel{
    width: 45%;
    text-align: right;
    display: inline-block;
    color: #ffffff;
}
.b-header-nav-tel__img{
    display: inline-block;
    vertical-align: middle;
    margin-right: 2%;
}
.b-header-nav-tel__p{
    display: inline-block;
    vertical-align: middle;
    font-size: .83em;
}
.b-header-nav__town{
    display: inline-block;
    width: 18%;
    text-align: center;
}
.b-header-nav-town{
    color: #01befe;
    font-family: Arial;
    text-decoration: none;
    border-bottom: 1px dashed #01befe;

}
.b-header-nav__link{
    display: inline-block;
    vertical-align: middle;
    width: 25%;
    text-align: right;
}
.b-header-nav-link{
    display: inline-block;
    vertical-align: middle;
}
.b-header-nav-link-item{
    color: #ffffff;
    text-decoration: none;
    padding: 0 5px;
}
.b-scroll-1{
    position: relative;
    height: 560px;
}
.b-scroll-1 video{
    min-width: 100%;
    /* min-height: 100%; */
    width: auto;
    height: auto;
    top: -300px;
    position: absolute;
    /* height: 500px; */
}
.b-scroll-1-video-bg{
    position: absolute;
    height: 1000px;
    width: 100%;
    z-index: 5;
    background: #000;
    opacity: .5;
}
.b-scroll-1-content{
    position: relative;
    z-index: 10;
}
.b-scroll-1__h1{
    color: #ffffff;
    font-family:'MuseoSansCyrl-900';
    font-size: 4.55em;
    padding: 9% 0 5.5%;
    text-align: center;
}
.b-scroll-1__h1 span{
    font-family:'MuseoSansCyrl-100';
}
.b-scroll-1__separate{
    background: #01befe;
    width: 10%;
    height: 4px;
    margin: 0 auto;
}
.b-scroll-1__h2{
    color: #fff;
    text-align: center;
    font-size: 1.75em;
    padding: 4% 0;
}
.b-scroll-1__after{
    border: 4px solid #01befe;
    width: 427px;
    margin: 40px auto 0;
}
.b-scroll-1-after{
    padding: 10px 20px;
}
.b-scroll-1-after__img{
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}
.b-scroll-1-after__p{
    display: inline-block;
    vertical-align: middle;
    color: #ffffff;
    font-family:'MuseoSansCyrl-900';
    font-size: 1.33em;
    line-height: 1.2em;
}




.b-scroll-2{
    position: relative;
    background-color: #ecf2f8;
    z-index: 10;
    padding-top: 50px;
}
.b-scroll-2__col{
    width: 50%;
    display: inline-block;
    vertical-align: bottom;
}
.b-scroll-2-h2{
    font-size: 1.86em;
    line-height: 1.4em;

}
.b-scroll-2-separate{
    height: 2px;
    width: 62px;
    background-color: #6466a7;
    margin: 40px 0;
}
.b-scroll-2-p{
    font-family: Arial;
    font-size: 1.12em;
    line-height: 1.6em;
    padding: 12px 0;

}

.b-scroll-2-card__img {
    display: inline-block;
    vertical-align: middle;
    margin-right: 6%;
}

.b-scroll-2-card__name {
    display: inline-block;
    vertical-align: middle;
}
.b-scroll-2-card__name{

}
.b-scroll-2-card-name__h3{
    font-family: Arial;
    font-size: 1.85em;
    line-height: 1.2em;
}
.b-scroll-2-card-name__p{
    font-family: Arial;
    color: #6466a7;
    line-height: 1.2;
    padding: 7px 3px;
}
.b-scroll-2-card-col{
    display: inline-block;
    vertical-align: middle;
    width: 50%;
}
.b-scroll-2-card-row {
    padding: 10px 0;
}
.b-scroll-2-card-col__p{
    font-family: Arial;
    font-size: .9em;
    line-height: 1.2em;
}
.b-scroll-2-card-col__p span{
    color: #6466a7;
}
.b-scroll-2-card{
    padding-bottom: 95px;
}
.b-scroll-2-big-img{
    width: 100%;
    margin: 0 auto;
    display: block;
    position: relative;
}

.b-scroll-3{
    padding: 70px 0;
}
.b-scroll-3-h2{
    color: #41484e;
    text-align: center;
    font-size: 2.75em;
}
.b-scroll-3-separate{
    width: 80px;
    height: 2px;
    background-color: #6567a7;
    margin: 40px auto;
}
.b-scroll-3-box__item{
    width: 33.3%;
    display: inline-block;
}
.b-scroll-3-b-item{
    position: relative;
    width: 95%;
    margin: 10px auto;
    display: block;

}
.b-scroll-3-b-item:hover .b-sc3-b-item__bg{
    opacity: 1;
}
.b-scroll-3-b-item:hover .b-sc3-b-item__p{
    opacity: 1;
}
.b-sc3-b-item__img{
    width: 100%;
}
.b-sc3-b-item__bg{
    background: rgba(0, 0, 0, 0.75);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    opacity: 0;
    transition-duration: .3s;

}
.b-sc3-b-item__p{
    position: absolute;
    top: 0;
    left: 0;
    color: #ffffff;
    text-transform: uppercase;
    font-family: Arial;
    padding: 7%;
    font-size: 1.2em;
    line-height: 1.2em;
    opacity: 0;
    transition-duration: .3s;

}
.b-sc3-b-item__p span {
    color: #00baff;
    text-transform: none;
    display: block;
    margin-bottom: 10%;
    font-size: .8em;
}
.b-scroll-3-also-btn{
    display: none;
}
.b-scroll-4{
    background: #6466a7;
    padding: 70px 0;
}
.b-scroll-4__big-col{
    width: 70%;
    display: inline-block;
    vertical-align: middle;
}
.b-scroll-4-h2{
    color: #ffffff;
    font-size: 2.85em;
    line-height: 1.2em;
    padding-bottom: 50px;
}
.b-scroll-4-after{
    color: #ffffff;
    font-size: 1.4em;
    width: 80%;
    line-height: 1.2em;

}
.b-scroll-4__small-col{
    width: 30%;
    display: inline-block;
    vertical-align: middle;
}
.b-scroll-4-send{
    display: block;
    border: 4px solid #3da6ff;
    color: #fff;
    text-decoration: none;
    text-align: center;
    font-family: 'MuseoSansCyrl-900';
    width: 85%;
    font-size: 1.4em;
    padding: 20px 0;
}
.b-scroll-4-send:hover{
    background: #3da6ff;
}
.b-scroll-5{
    padding: 83px 0;
}

.b-scroll-5__h2{
    font-size: 2.8em;
    text-align: center;
}
.b-scroll-5-separate{
    margin: 40px auto;
    width: 60px;
    height: 2px;
    background-color: #6567a7;
}
.b-scroll-5-box{
    padding-top: 30px;
}
.b-scroll-5__item{
    display: inline-block;
    vertical-align: top;
    width: 33.3%;
    text-align: center;
}
.b-scroll-5-item-p{
    font-family: 'MuseoSansCyrl-900';
    text-transform: uppercase;
    font-size: 1.15em;
    line-height: 1.5em;
}
.b-scroll-5-item-p--w-80{
    width: 80%;
    display: block;
    margin: 0 auto;
}
.b-scroll-5-item-p span{
    font-family: Arial;
    font-size: .75em;
}
.b-scroll-5-item-img{
    margin-bottom: 20px;
}
.b-scroll-6{
    background: #01befe;
}
.b-scroll-6__col{
    vertical-align: middle;
    display: inline-block;
    width: 50%;
}
.b-scroll-6-col{
    width: 100%;
    max-width: 500px;
}
.b-scroll-6-col--left{
    float: right;
}
.b-scroll-6-h2{
    font-size: 2.15em;
    color: #fff;
    text-transform: uppercase;
    line-height: 1.2em;
}
.b-scroll-6-ul{
    padding: 20px 0;

}
.b-scroll-6__li{

    padding: 20px 0;

}
.b-scroll-6__li span{
    font-family: Arial;
    font-size: 1.24em;
    line-height: 1.4em;
    display: inline-block;
    vertical-align: middle;
}

.b-scroll-6__li:before{
    content: '+';
    display: inline-block;
    vertical-align: middle;
    font-family: 'MuseoSansCyrl-900';
    font-size: 2.5em;
    padding-right: 10px;
    margin-bottom: 10px;
    color: #ffffff;
}

.b-scroll-6__li--check span{
    color: #ffffff;
}
.b-scroll-6__li--check:before{
    color: #a24dc2;
}
.b-scroll-6-slider{
    position: relative;
}
.b-scroll-6__slide-item img{
    width: 100% ;
}
.b-scroll-6__slide-item--pos-ab{
    /*position: absolute;*/
    /*top: 0;*/
    /*left: 0;*/
    display: none;
}
.b-scroll-7{

}
.b-scroll-7-h2{
    text-align: center;
    color: #41484e;
    font-size: 2.5em;
}
.b-scroll-7__item{
    width: 33.3%;
    display: inline-block;
    vertical-align: middle;
}
.b-scroll-7-item{
    font-family: Arial;
    font-size: 1.124em;
    line-height: 1.2em;
    padding: 20px 0;
}
.b-scroll-7-item span{
    color: #752b90;
    font-family: 'MuseoSansCyrl-900';
    font-size: 1.7em;
}

.b-scroll-8{
    background: #dfe8ed;
    padding: 55px 0;

}
.b-scroll-8__h2{
    text-align: center;
    font-family: 'MuseoSansCyrl-300';
    font-size: 2.2em;
    text-transform: uppercase;
    line-height: 1.2em;
}
.b-scroll-8__h2 span{
    font-family: 'MuseoSansCyrl-700';
    display: block;
    font-size: 0.79em;
    text-transform: lowercase;
}

.b-scroll-8-item{
    width: 33.3%;
    display: inline-block;
    vertical-align: middle;
    padding: 20px 0;
}
.b-scroll-8-item-img{
    margin-bottom: 10px;
}
.b-scroll-8-item-p{
    width: 80%;
    font-family: Arial;
    font-size: 1.11em;
    line-height: 1.4em;
}
.b-scroll-8-after{
    text-align: center;
    font-family: Arial;
    font-size: 1.12em;
    margin-top: 85px;
}
.b-scroll-9{
    width: 100%;
    background: #565aa4;

}
.b-scroll-9-width{
    max-width: 500px;
}
.b-scroll-9-h2{
    color: #6165a5;
    text-align: center;
    font-family: 'MuseoSansCyrl-700';
    font-size: 2.8em;
    line-height: 1.2em;
}
.b-scroll-9{
    overflow: hidden;
}
.b-scroll-9-col{
    width: 50%;
    display: inline-block;
    vertical-align: middle;
}
.b-scroll-9-col--bg{
    width: 50%;
    height: 512px;
    background: url(../img/pict_10.jpg) 50% 50% no-repeat;
    vertical-align: middle;

}
.b-scroll-9-col__img{
    width: 100%;
}
.b-scroll-9-width{
    padding: 0 2%;
}
.b-scroll-9-send{
    color: #ffffff;
    border: 4px solid #29caff;
    display: block;
    width: 97%;
    text-align: center;
    text-decoration: none;
    padding: 30px 0;
    margin: 60px auto 35px;
    font-size: 1.87em;
}
.b-scroll-9-send:hover{
    background: #29caff;
}
.b-scroll-9-big-text {
    text-align: center;
    color: #fff;
    font-size: 1.9em;
}
.b-scroll-9-text {
    color: #fff;
    text-align: center;
    font-size: 1.65em;
    line-height: 1.2em;
    margin: 50px 0 35px;
}
.b-scroll-9-send-box{
    text-align: center;
    margin-bottom: 60px;
}
.b-scroll-9-input-text{
    display: inline-block;
    vertical-align: middle;
    width: 45%;
    padding: 20px 5%;
    box-shadow: inset 3px 3px 4px #b6b6b8;
}
.b-scroll-9-input-btn{
    display: inline-block;
    vertical-align: middle;
    color: #fff;
    background-color: #29caff;
    border: 0;
    width: 36%;
    font-size: 1.15em;
    height: 58px;
}
.b-footer{
    background: #181a1c;
    padding: 20px 0;

}
.b-footer__logo{
    display: inline-block;
    vertical-align: middle;
    width: 20%;
}
.b-header-right{
    display: inline-block;
    vertical-align: middle;
    width: 79%;
}
.b-header-nav-p{
    color: #ffffff;
}
.b-footer-text{
    display: inline-block;
    vertical-align: middle;
    font-family: Arial;
    font-size: .74em;
    line-height: 1.2em;
    width: 50%;

}
.b-footer-text p{
    color: #ffffff;
}
.b-footer-contact{
    display: inline-block;
    vertical-align: middle;
    width: 14%;
}
.b-footer-contact-p{
    color: #fff;
    font-family: Arial;
}
.b-footer-contact-span{
    color: #05bcff;
    display: block;
    font-size: .8em;
}