@font-face {
    font-family:'FontAwesome-Regular';
    src: url('FontAwesome_gdi.eot');
    src: url('FontAwesome_gdi.eot?#iefix') format('embedded-opentype'),
    url('FontAwesome_gdi.woff') format('woff'),
    url('FontAwesome_gdi.ttf') format('truetype'),
    url('FontAwesome_gdi.svg#FontAwesome-Regular') format('svg');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-F500;
}
@font-face {
    font-family:'MuseoSansCyrl-100';
    src: url('MuseoSansCyrl-100_gdi.eot');
    src: url('MuseoSansCyrl-100_gdi.eot?#iefix') format('embedded-opentype'),
    url('MuseoSansCyrl-100_gdi.woff') format('woff'),
    url('MuseoSansCyrl-100_gdi.ttf') format('truetype'),
    url('MuseoSansCyrl-100_gdi.svg#MuseoSansCyrl-100') format('svg');
    font-weight: 250;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-FB04;
}

@font-face {
    font-family:'MuseoSansCyrl-300';
    src: url('MuseoSansCyrl-300_gdi.eot');
    src: url('MuseoSansCyrl-300_gdi.eot?#iefix') format('embedded-opentype'),
    url('MuseoSansCyrl-300_gdi.woff') format('woff'),
    url('MuseoSansCyrl-300_gdi.ttf') format('truetype'),
    url('MuseoSansCyrl-300_gdi.svg#MuseoSansCyrl-300') format('svg');
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-FB04;
}
@font-face {
    font-family:'MuseoSansCyrl-500';
    src: url('MuseoSansCyrl-500_gdi.eot');
    src: url('MuseoSansCyrl-500_gdi.eot?#iefix') format('embedded-opentype'),
    url('MuseoSansCyrl-500_gdi.woff') format('woff'),
    url('MuseoSansCyrl-500_gdi.ttf') format('truetype'),
    url('MuseoSansCyrl-500_gdi.svg#MuseoSansCyrl-500') format('svg');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-FB04;
}
@font-face {
    font-family:'MuseoSansCyrl-700';
    src: url('MuseoSansCyrl-700_gdi.eot');
    src: url('MuseoSansCyrl-700_gdi.eot?#iefix') format('embedded-opentype'),
    url('MuseoSansCyrl-700_gdi.woff') format('woff'),
    url('MuseoSansCyrl-700_gdi.ttf') format('truetype'),
    url('MuseoSansCyrl-700_gdi.svg#MuseoSansCyrl-700') format('svg');
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-FB04;
}
@font-face {
    font-family:'MuseoSansCyrl-900';
    src: url('MuseoSansCyrl-900_gdi.eot');
    src: url('MuseoSansCyrl-900_gdi.eot?#iefix') format('embedded-opentype'),
    url('MuseoSansCyrl-900_gdi.woff') format('woff'),
    url('MuseoSansCyrl-900_gdi.ttf') format('truetype'),
    url('MuseoSansCyrl-900_gdi.svg#MuseoSansCyrl-900') format('svg');
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-FB04;
}
.width{

}